.App {
  text-align: center;
}
#bd{
  background-color: #67c6d8;
}
#btn{
  border-radius: 10px;
  padding: 10px;
  background-color:  #00c8ff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#imag{
  width: 318px;
  height: 180px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-attachment: fixed !important;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(180, 42, 42);
}

.App-link {
  color: #121c1e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form{
  margin: 250px;
  padding: 20px;
  background-color: rgb(229, 7, 7);
  border-radius: 10px;
}
.cards_style{
  display: flex;
  
  justify-content: space-around;
}
input{
  margin-top: 10px !important;
}